header {
  display: center; 
  text-align: center; 
  background-color: #08b802; 
  padding: 1rem 0; /* 16px se convierte a 1rem */ 
}

header h1 {
  color: black; 
  font-size: 2.5rem; /* 40px */ 
  font-weight: 100; 
  font-style: normal; 
  bottom: 2.2rem; /* 35px */ 
  margin-left: 0.625rem; /* 10px */
    display: center; 
  text-align: center; 
}
