
nav {
    background-color: white; 
    /* Aumentado el margen inferior para más espacio */
    margin-bottom: 1.3rem; /* ~24px */ 
    /* Añadimos un pequeño padding superior e inferior al NAV para que se vea más grande */
    padding: 0.3rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para destacarlo */
}

nav ul {
    list-style: none; 
    margin: 0; 
    padding: 0;
    display: flex; 
    justify-content: center; 
}

nav ul li {
    flex-grow: 1; 
    max-width: 500 px; 
} 

nav ul li a {
    color: black; 
    text-decoration: none; 
    display: block; 
    text-align: center;
    font-size: 1.5rem; /* ~17.6px (Depende del tamaño base) */
    font-weight: 500; /* Ligeramente en negrita */
}

nav ul li a:hover {
    background-color: #eee; 
    color: #333; 
}

nav ul li a.activo {
    background-color: gray; 
    color: white; 
}